*{
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.App{
    background-color: #251E3F;
    width:1920px;
    height:1080px;
    position: relative;
}
.title{
    width: 348px;
    height: 324px;
    font-size: 72px;
    line-height: 85px;
    color: #FFFFFF;
    padding: 30px 0px 0px 30px;
}
.info{
    width: 293px;
    height: 306px;
    padding:42px 0px 0px 22px
}
.info span:first-child{
    font-size: 36px;
    color: #008FC5;
}
.info span{
    display:block;
    color:white;
    font-size: 24px;
    line-height: 29px;
    padding: 10px
}


.btn-info{
    position: absolute;
    bottom:20px;
    right:20px;
    width:50px;
    height:50px;
    padding:0px 10px;
    border-radius: 50%;
    border-color: white;
    box-shadow:0px 1px 1px white
}

.modal{
    position: absolute;
    bottom:70px;
    right:70px;
    width:500px;
    height:700px;
    background-color: white;
    border-radius: 10px;
}
.modal p{
    margin:10px;
    font-size: 18px;
    color:#5C5050;

}
.modal a{
    display: block;
    margin: 0px 10px;
    padding:5px;
    text-decoration: none;
    font-family: sans-serif;
        font-size:12px;


}
.modal span{
    display: inline-block;
    margin: 0px 10px;
    padding:5px;
    color:gray;
    font-size:12px;
    font-family: sans-serif;

}

.self{
    position: absolute;
    top:10px;
    right:10px;
    color:white;

}
.self a{
    color:white;
}